# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# Android
android/.gradle/
android/local.properties
android/app/build/
android/app/intermediates/
android/app/outputs/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Artifacts
*.apk
*.aab
*.ipa

# IDE
.idea/
.vscode/
*.iml
.DS_Store
